:root{
    /* Colours */
    --color-text: #FFF;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #04152d;

    /* Font */
    --fonts-roboto: 'Roboto';
}